table, th, td {
  border:1px solid black;
}
h1, h2, li, p, a, marquee, label, th, input, button, div {
    font-family: 'Verdana';
} 
a {
  color: black;
}
body {
  background-color: darkgray;
}
input {
  background-color: gray;
}
td {
  text-align: center;
  vertical-align: middle;
}
.center-row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}