table, th, td {
  border: 0.5px solid black;
  font-size: 25px;
  text-align: center;
}
h1, h2, h3, li, p, a, marquee, label, th, input, button, div, td {
    font-family: 'Verdana';
} 
nav {
  padding: 20px 20px;
  background-color:rgb(213, 239, 255);
  font-size: 20px;
}
a {
  color: black;
}
body {
  background-color: lightblue;
  font-family: Verdana, system-ui, Arial, sans-serif;
  line-height: 1.4;
}
input {
  background-color: gray;
}
td {
  text-align: center;
  vertical-align: middle;
}
.center-row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
pre, code {
  background-color:darkblue;
  color: white;
}
.game {
  text-align: center;
  font-size: 30px;
  display: flex; 
  justify-content: center; 
  align-items: center;
}
