table, th, td {
  border:1px solid black;
}
h1, h2 {
    font-family: 'Verdana';
} 
li, p, a, marquee, label, th, input, button {
    font-family: 'Verdana';
    font-size: 24px;
} 
a {
  color: black;
}
body {
  background-color: darkgray;
}
input {
  background-color: gray;
}
pre {
  background-color: black;
}
