* {
    font-family: 'Verdana', Tahoma, system-ui, sans-serif;
    font-size: 30
}

td {
    text-align: center;
}

a {
    color: rgb(11, 11, 125);
    text-decoration: none;
}

a:visited {
    color: purple;
}

a:hover {
    color: red;
    text-decoration: underline;
    font-weight: bold;
}
