    body {
      background-color: lightblue;
    }
    * {
        font-family: Verdana, Tahoma, sans-serif;
    }
    .form {
        background-color: white;
        width: 400px;
        padding: 20px;
        border: 2px solid black;
        border-radius: 10px;
        margin: auto;
        margin-top: 30px;
    }

    #reason {
        width: 100%;
        height: 100px;
    }

    label:focus, input:focus, select:focus {
        outline: 1px solid black;
        font-weight: bold;
    }

    .others a {
        color: black;
        text-decoration: none;
        font-weight: bold;
    }

    /* STAR STUFF */

    .star {
    font-size: 5vh;
    cursor: pointer;
    }
    .one {
    color: rgb(196, 37, 37);
    }
    .two {
    color: rgb(255, 106, 0);
    }
    .three {
    color: rgb(201, 206, 70);
    }
    .four {
    color: rgb(62, 187, 17);
    }
    .five {
    color: rgb(14, 123, 186);
    }